<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name"><i class="fa fa-pie-chart" aria-hidden="true"></i> Dashboard</span>
				</div>
			</div>
		</div>
	</div>
</header>

<section>

	<div class="container dashboard">
		<div class="clearfix">

			<div class="row">
				<div class="col-md-4 text-center bottom30">
					<div id="users" class="box-shadow padding-top-bottom">
						<h3>Total Members</h3>
						<div class="item html">
							<h2>{{users.length}}</h2>
							<svg class="donut" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
								<g>
									<title>Circle 1</title>
									<circle id="circle" class="circle_animation" r="70" cy="50%" cx="50%" stroke-width="6" stroke="#FFF" fill="none"></circle>
								</g>
							</svg>
						</div>
					</div>
				</div>

				<div class="col-md-4 text-center bottom30">
					<div class="box-shadow padding-top-bottom" id="activeUsers">
						<h3>Active Members</h3>
						<div class="item html help-tip">
							<h2>{{activeUsers}}</h2>
							<svg class="donut" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
								<g>
									<title>Circle 2</title>
									<circle cx="50%" cy="50%" r="70" stroke="#55a0c5" stroke-width="1" fill="none"></circle>
									<circle id="circle" class="circle_animation" r="70" cy="50%" cx="50%" stroke-width="6" stroke="#FFF" fill="none"></circle>
								</g>
							</svg>
							<p>Members who went to at least one tournament.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 text-center bottom30">
					<div id="registeredUsers" class="box-shadow padding-top-bottom">
						<h3>Registered Members</h3>
						<div class="item html help-tip">
							<h2>{{registeredUsers}}</h2>
							<svg class="donut" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
								<g>
									<title>Circle 3</title>
									<circle cx="50%" cy="50%" r="70" stroke="#b03a6b" stroke-width="1" fill="none"></circle>
									<circle id="circle" class="circle_animation" r="70" cy="50%" cx="50%" stroke-width="6" stroke="#FFF" fill="none"></circle>
								</g>
							</svg>
							<p>Members who are registered for an upcoming tournament.</p>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<!-- Total Club Debt Chart -->
				<div class="col-md-7 bottom30">
					<div id="debtContainer" class="box-shadow" style="width:100%; height:400px;"></div>
				</div>

				<!--Victories Chart-->
				<div class="col-md-5 bottom30" style="position: relative;">
					<div id="victoryChartContainer" class="box-shadow"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bottom30" style="position: relative;">
					<div id="timeBox" class="box-shadow text-center">
						<h3>Time since BDU foundation</h3>
						<div class="item">
							<div>
								<p>{{timeExisting}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12 text-center bottom30">
					<div id="gender" class="box-shadow padding-top-bottom">

						<div class="row">
							<div class="col-sm-12 col-md-2" id="genderContainer1" style="height:180px;"></div>
							<div class="col-sm-12 col-md-2" id="genderContainer2" style="height:180px;"></div>
							<div class="col-sm-12 col-md-2" id="genderContainer3" style="height:180px;"></div>
							<div class="col-sm-12 col-md-3" id="genderContainer4" style="height:180px;"></div>
							<div class="col-sm-12 col-md-3" id="genderContainer5" style="height:180px;"></div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</section>
