.flex-table {
  width: 100%;
  overflow-x: auto;
}

.flex-table-row {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eceeef;
}

.flex-table-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  flex-grow: 1;
  overflow: auto;
  vertical-align: middle;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.flex-table-striped:nth-child(even),
.flex-table-hover:hover {
  background-color: #eaeaea;
}

.flex-table-columnHead > .flex-table-row > .flex-table-cell:first-child {
  font-weight: bold;
}

.flex-table-head > .flex-table-cell {
  font-weight: bold;
}

.collapse.show,
.collapsing,
.expanding-row,
.expanding-row:hover {
  background-color: var(--gray-dark) !important;
  color: #f3f3f3;
}

.collapse.show .flex-table-striped:nth-child(even),
.flex-table-hover:hover,
.collapsing .flex-table-striped:nth-child(even),
.flex-table-hover:hover,
.expanding-row .flex-table-striped:nth-child(even),
.flex-table-hover:hover,
.expanding-row .table {
  background-color: #3b4248;
}

.collapse.show .flex-table-row,
.collapsing .flex-table-row {
  border-color: #676869;
}

.flex-table-collapse-close {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  top: 12px;
  right: 15px;
}

.collapseContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  .collapseContainer {
    flex-direction: row;
    padding: 1.5rem;
  }
}
