<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>BDUDB</title>
	
	<!-- load javascripts -->

	<!-- bootstrap -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>


	<!-- load stylesheets -->

	<!-- bootstrap -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	
	<!-- load fontawesome -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top navbar-toggleable-md bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#/profile">
        <img class="nav-logo" ng-src="http://debating.de/BDUDBdev/bdu_white_logo.png" onerror="this.src='images/bdu_quad.png'" alt=""/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/#/profile" class="nav-link hidden-sm-down">Profile</a>
                <a href="/#/profile" class="nav-link hidden-md-up" data-toggle="collapse" data-target=".navbar-collapse">Profile</a>
            </li>
            <li class="nav-item">
                <a href="/#/tournaments" class="nav-link hidden-sm-down">
                    Tournaments
                    <span ng-show="newTournamentCount > 0" class="count">{{newTournamentCount}}</span>
                </a>
                <a href="/#/tournaments" class="nav-link hidden-md-up" data-toggle="collapse" data-target=".navbar-collapse">Tournament</a>
            </li>
            <li class="nav-item">
                <a href="/#/anmeldungen" class="nav-link hidden-sm-down">Reg Overview</a>
                <a href="/#/anmeldungen" class="nav-link hidden-md-up" data-toggle="collapse" data-target=".navbar-collapse">Reg Overview</a>
            </li>
            <li ng-show="istVorstand" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vorstand
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item hidden-sm-down" href="/#/vorstand">Create Tournament</a>
                    <a class="dropdown-item hidden-md-up" href="/#/vorstand" data-toggle="collapse" data-target=".navbar-collapse">Create Tournament</a>
                    <a class="dropdown-item hidden-sm-down" href="/#/finances">Finances</a>
                    <a class="dropdown-item hidden-md-up" href="/#/finances" data-toggle="collapse" data-target=".navbar-collapse">Finances</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0" ng-show="authenticated">
            <li class="nav-item">
                <a href="/#/profile" class="hidden-md-down nav-link navbar-brand">
                    <img class="nav-image" ng-src="//debating.de/BDUDBdev/userpics/{{user.image}}" onerror="this.src='images/bdu_quad.png'" alt=""/>
                </a>
            </li>
            <li class="nav-item hidden-sm-down">
                <span class="navbar-text" style="margin-right: 15px">Signed in as {{user.vorname}}</span>
            </li>
            <li class="nav-item">
                <!--SCHULDEN-->
                <span class="help-tip hidden-md-down" style="margin-right: 15px">
                    <span class="navbar-text currencySign" data-monetary-amount="{{personnelDebt | currency:'€'}}"></span>
					<p class="navbar-text">This is how much you currently owe the BDU.</p>
				</span>
            </li>

            <li class="nav-item">
                <a href="/#/" class="hidden-sm-down nav-link" ng-click="signout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                <a href="/#/" class="hidden-md-up visible-sm nav-link" data-toggle="collapse" data-target=".navbar-collapse" ng-click="signout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="!authenticated">
            <li><a href="/#/" class="hidden-sm-down nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            <li><a href="/#/" class="hidden-md-up nav-link" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            <li><a href="/#/signup" class="hidden-sm-down nav-link"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
            <li><a href="/#/signup" class="hidden-md-up nav-link" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
        </ul>
    </div>
</nav>
	
	<br>
	<div class="container">
		<h1><%= message %></h1>
		<% if(error.length > 0) { %>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
		<% }%>
	</div>
	<div class="container">
		<br><br><br><h2>There was an error. Sorry! You can read this instead:</h2>
		<embed src="https://www.amherst.edu/system/files/media/1650/butler_performative_acts.pdf" width="100%" height="1000px" />
	</div>
</body>
</html>


