<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BDUDB</title>

    <!-- load javascripts -->

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>

    <script src="/javascripts/angularPasswordReset.js"></script>


    <!-- load stylesheets -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<script type="text/javascript">
	var password = document.getElementById("password")
		, confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
		if(password.value !== confirm_password.value) {
			confirm_password.setCustomValidity("Passwords Don't Match");
		} else {
			confirm_password.setCustomValidity('');
		}
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name"><i class="fa fa-retweet" aria-hidden="true"></i> Reset Password</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-md-6 offset-md-3">

        <h2><%= message %></h2>
        <% if(user != null) { %>
        <!-- SIGNUP FORM -->
        <form action="/reset" method="post">
            <fieldset>
                <div class="form-group">
                    <label>New Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" ng-model="password" placeholder="Enter your password" class="form-control" name="password" id="password1" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" placeholder="Confirm your password" class="form-control" name="password-confirm" id="password2" required="true">
                    </div>
                </div>
                <input type="hidden" class="hidden" name="id" value="<%= user.get('id') %>">
                <button type="submit" class="btn btn-outline-warning btn-lg pull-right">Set New Password</button>

            </fieldset>
        </form>
        <% }%>
    </div>
</div>

</body>
</html>