@import '../../../css/breakpoints.scss';

#registration {
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: max-content 1fr;
  }

  thead {
    display: none;
  }
  i {
    font-size: 2rem;
  }
}
