<!--TEMPLATE FOR INLINE EDIT SUCCESS VIEW-->
<div class="form-group">
	<label for="success">Success</label>
	<select id="success"
			ng-change="setSuccess(selectedSuccess.pivot_success, tournament.rankingvalue, tournament.pivot_id)"
			class="form-control"
			ng-options="success as success.label for success in successes track by success.id"
			ng-model="selectedSuccess.pivot_success"
			ng-disabled="tournament.pivot_attended != 1">
	</select>
</div>
<div class="form-group" ng-hide="tournament.pivot_success == null || tournament.pivot_success == 'judge' || tournament.pivot_success == 'judge2'">
	<label class="control-label" for="partner1">Partner 1</label>
	<select id="partner1"
			ng-change="setPartner(selectedSuccess.pivot_partner1.id, tournament.pivot_id, 1)"
			class="form-control"
			ng-options="partner as (partner.vorname + ' ' + partner.name) for partner in partners track by partner.id"
			ng-model="selectedSuccess.pivot_partner1">
	</select>
</div>
<div class="form-group"
	 ng-hide="
	 tournament.format.toLowerCase() == 'bps' ||
	 tournament.format.toLowerCase() == 'bp' ||
	 tournament.pivot_partner1 == null ||
	 tournament.pivot_success == null ||
	 tournament.pivot_success == 'judge' ||
	 tournament.pivot_success == 'judge2'
">
	<label for="partner2">Partner 2</label>
	<select id="partner2"
			ng-change="setPartner(selectedSuccess.pivot_partner2.id, tournament.pivot_id, 2)"
			class="form-control"
			ng-options="partner as (partner.vorname + ' ' + partner.name) for partner in partners track by partner.id"
			ng-model="selectedSuccess.pivot_partner2">
	</select>
</div>
<button ng-click="closeEditSuccess()" class="btn btn-sm btn-outline-danger">Close <i class="fa fa-times" aria-hidden="true"></i></button>
