.dashboard .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.dashboard .item h2 {
    position: absolute;
    text-transform: none;
    font-size: x-large;
}

.donut {
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.box-shadow {
    box-shadow: #605f4f 3px 3px 6px;
}

.padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 8px;
}

.dashboard .help-tip p {
    right: 45%;
    top: 70%;
    width: auto;
    padding: 13px;
    z-index: 99;
}

.dashboard h3 {
    font-size: larger;
}

@media screen and (max-width: 575px) {
    .col-8 {
        margin-bottom: 20px;
    }
}

.dashboard #users {
    background-color: #ff5454;
    border: 1px solid #ff2121;
    color: #fff;
}

.dashboard #users .circle_animation {
    -webkit-animation: users 1s ease-out forwards;
    animation: users 1s ease-out forwards;
}

.dashboard #activeUsers {
    background-color: #67c2ef;
    border: 1px solid #39afea;
    color: #fff;
}

.dashboard #activeUsers .circle_animation {
    -webkit-animation: activeUsers 1s ease-out forwards;
    animation: activeUsers 1s ease-out forwards;
}

.dashboard #registeredUsers {
    background-color: #d44582;
    border: 1px solid #b03a6b;
    color: #fff;
}

.dashboard #timeBox {
    position: relative;
    height: calc(100% - 15px);
    min-height: 180px;
    color: #fff;
    padding: 15px;
    background-color: #62bd7d;
    border: 1px solid #4d9060;
}

.dashboard #timeBox p {
    font-size: large;
}

.dashboard #gender {
    background-color: #3A8A7D;
    border: 1px solid #3c8578;
    color: white;
    min-height: 211.17px;
}

.dashboard #registeredUsers .circle_animation {
    -webkit-animation: registeredUsers 1s ease-out forwards;
    animation: registeredUsers 1s ease-out forwards;
}

@-webkit-keyframes users {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes users {
    to {
        stroke-dashoffset: 0;
    }
}

.highcharts-credits {
    visibility: hidden;
}
