.landing {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;

}

@media (max-width: 500px) {
    .landing {
        background-image: url('/images/33543411320_cbda5e86a9_k-720x480.png');
    }
}

@media (min-width: 500px) and (max-width: 1024px) {
    .landing {
        background-image: url('/images/33543411320_cbda5e86a9_k-1024x682.png');
    }
}

@media (min-width: 1025px) {
    .landing {
        background-image: url('/images/33543411320_cbda5e86a9_k-1600x1066.png');
    }
}

.landing .title {
    text-align: center;
    padding: 0 0 40px 0;
}

.landing .title img {
    width: 30%;
}

.landing .login {
    background-color: rgba(356,356,356,0.9);
    padding: 25px 35px 5px 35px
}
