<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name"><span class="fa fa-bug"></span> Report a Bug</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <!-- LOGIN FORM -->
            <form ng-submit="reportBug()">
                <div class="form-group">
                    <label>Type</label>
                    <div class="input-group">
                        <select class="form-control" style="height:auto;" ng-model="newBug.type" required>
                            <option value=""></option>
                            <option value="UI/UX">Optic & Usability (UI/UX)</option>
                            <option value="Functionality">Functionality</option>
                            <option value="Wishes">Ideas for improvement</option>
                            <option value="-">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div class="input-group">
                        <textarea rows="8" placeholder="Please describe the error that you've found" ng-model="newBug.description" class="form-control" required></textarea>
                    </div>
                    <p ng-hide="newBug.description.length > 1500" class="pull-right">{{newBug.description.length}}</p>
                    <p ng-show="newBug.description.length > 1500" class="pull-right" style="color: #ff3533;">{{newBug.description.length}}</p>
                </div>

                <button type="submit" class="btn btn-raised btn-warning btn-lg">Report</button>
            </form>

        </div>
    </div>

    <div class="container">
        <div ng-show="istVorstand" class="col-md-12" style="margin-top: 50px">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th class="col-md-1 hidden-xs">ID</th>
                    <th class="col-md-2">Type</th>
                    <th>Description</th>
                    <th class="col-md-2 hidden-xs">Created at</th>
                    <th>Created by</th>
                    <th class="col-md-1"><button class="btn btn-sm btn-info" ng-click="filterBugs()">Status</button></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="left-align">
                <tr ng-repeat="b in bugs">
                    <td class="hidden-xs">{{b.id}}</td>
                    <td>{{b.type}}</td>
                    <td>{{b.description}}</td>
                    <td class="hidden-xs">{{b.created_at | date:'medium'}}</td>
                    <td>{{b.user.vorname}} {{b.user.name}}</td>
                    <td>
                        <span ng-click="changeStatus(b.id)" ng-hide="b.status == 0" class="glyphicon glyphicon-ok"></span>
                        <span ng-click="changeStatus(b.id)" ng-show="b.status == 0" class="glyphicon glyphicon-remove"></span>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="deleteBug(b.id)">
                            <span class="glyphicon glyphicon-trash"> </span>
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>