<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name"><span class="fa fa-group"></span> Finanz Übersicht</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section style="margin-left: 4%; margin-right: 4%">
    <div class="container">

    <div class="row">
        <!--USER TABLE-->
        <div class="col-md-12">

            <table class="table table-hover table-overview table-responsive">
                <thead>
                <tr>
                    <!--<th></th>-->
                    <th class="hidden-xs">
                        <button class="btn btn-raised btn-info btn-sm" ng-click="sortUsers('id')">User ID</button>
                    </th>
                    <th>
                        <button class="btn btn-raised btn-info btn-sm" ng-click="sortUsers('vorname')">Name</button>
                    </th>
                    <th>Tournaments</th>
                    <th>Debt</th>
                </tr>
                </thead>
                <tbody class="left-align">
                <tr ng-repeat="user in users" ng-click="goToTournaments(user)">
                    <td class="hidden-xs">{{user.id}}</a></td>
                    <td>{{user.vorname}} {{user.name}}</a></td>
                    <td>{{user.tournaments.length}}</td>
                    <td>{{personnelDebt}}€</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td class="hidden-xs">#</td>
                    <td>{{users.length}}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- TOURNAMENT TABLE -->
    <div id="tournaments" class="row">
        <div ng-show="showTournaments" class="col-md-12">

            <h3>{{user.vorname}}</h3>
            <table class="table table-hover table-overview table-responsive">
                <thead>
                <tr>
                    <th class="hidden-xs"><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('id')">Tournament ID</button></th>
                    <th><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('name')">Name</button></th>
                    <th><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('startdate')">Date</button></th>
                    <th><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('pivot_role')">Role</button></th>
                    <th class="hidden-xs"><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('pivot_price_paid')">Price Paid</button></th>
                    <th class="hidden-xs hidden-sm col-md-1"><button class="btn btn-raised btn-info btn-sm" ng-click="sortTournaments('pivot_price_owed')">Price Owed</button></th>
                    <th class="hidden-xs">Debt</th>
                </tr>
                </thead>
                <tbody class="left-align">
                <tr ng-repeat="tournament in user.tournaments">
                    <td class="text-center hidden-xs">{{tournament.id}}</td>
                    <td>
                        {{tournament.name}}
                    </td>
                    <td>{{tournament.startdate | date: 'dd.MM.yyyy'}}</td>
                    <td>{{tournament.pivot_role}}</td>
                    <td class="hidden-xs">{{tournament.pivot_price_paid}}€</td>
                    <td class="hidden-xs hidden-sm">{{tournament.pivot_price_owed}}€</td>
                    <td>{{tournament.pivot_price_paid - tournament.pivot_price_owed}}€</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
</section>