<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name"><span class="fa fa-picture-o"></span> Load Profile Pic</span>
				</div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3 file-upload">
			<form name="myForm">
				<h2>Crop Image and Upload</h2>
				<p>
					Your profile pic will be stored on the BDU server.<br>
					If you upload a new profile pic, your old one will be deleted from the server.
				</p>
				<button data-ng-hide="submit" class="btn btn-outline-primary" ngf-select data-ng-model="picFile"
						accept="image/*" data-ng-click="submit = !submit">Select Picture</button>
				<div data-ng-show="submit">
					<a href="#/profile"><button class="btn btn-outline-danger">Cancel</button></a>
					<button class="btn btn-outline-success" data-ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>
				</div>
				<div ngf-drop data-ng-model="picFile" ngf-pattern="image/*" class="cropArea">
					<img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" data-ng-init="croppedDataUrl=''"></img-crop>
				</div>
				<div>
					<img data-ng-src="{{croppedDataUrl}}" />
				</div>

				<span class="progress" data-ng-show="progress >= 0">
					<span style="width:{{progress}}%" data-ng-bind="progress + '%'"></span>
				</span>
				<span data-ng-show="result">Upload Successful</span>
				<span class="err" data-ng-show="errorMsg">{{errorMsg}}</span>
			</form>
		</div>
	</div>
</section>
