<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			
				<div>
					<div class="image-cropper">
						<a href="#/imageUpload"><img class="img-hor" ng-src="http://debating.de/BDUDBdev/userpics/{{user.image}}" onerror="this.src='images/bdu_quad.png'"/></a>
					</div>
				</div>
				<div class="intro-text">
					<span class="">
						<p class="name"> Hello {{user.vorname}}</p>
					</span>
					<hr class="star-light">
					<span class="skills">Here you find your User Info, Tournaments and Finances</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- User Info Section -->
<section class="user-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>User Info</h2>
				<hr class="star-user">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="user-info-table">

					<table class="table table-responsive">
						<tr>
							<th>id:</th>
							<td>{{user.id}}</td>
						</tr>
						<tr>
							<th>email:</th>
							<td ng-hide="update">{{user.email}}</td>
							<td ng-show="update"><input class="form-control" name="email" ng-model="user.email" required="true"></td>
						</tr>
						<tr>
							<th>vorname:</th>
							<td ng-hide="update">{{user.vorname}}</td>
							<td ng-show="update"><input class="form-control" name="vorname" ng-model="user.vorname"></td>
						</tr>
						<tr>
							<th>name:</th>
							<td ng-hide="update">{{user.name}}</td>
							<td ng-show="update"><input class="form-control" name="name" ng-model="user.name"></td>
						</tr>
						<tr>
							<th>gender:</th>
							<td ng-hide="update">{{user.gender}}</td>
							<td ng-show="update">
								<select class="form-control" style="height:auto;" ng-model="user.gender">
									<option value=""></option>
									<option value="f">female</option>
									<option value="m">male</option>
									<option value="-">post</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>food preference:</th>
							<td ng-hide="update">{{user.food}}</td>
							<td ng-show="update"><input class="form-control" name="food" ng-model="user.food"></td>
						</tr>
					</table>

					<div ng-hide="update"><button ng-click="update = !update; SuccessMessage=''; ErrorMessage=''" class="btn btn-raised btn-primary" role="button">Update Info</button></div>
					<div ng-show="update">
						<button ng-click="update = false" class="btn btn-raised btn-danger" role="button">Cancel</button>
						<button ng-click="updateUser()" class="btn btn-raised btn-primary" role="button">Submit</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- My Tournaments Section -->
<section id="tournament-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Your Tournaments</h2>
				<hr class="star-comments">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div>

					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>Name</th>
								<th>Place</th>
								<th>Time</th>
								<th>Role</th>
								<th>Team Name</th>
								<th>Price</th>
								<th>Paid</th>
								<th>Debt</th>
								<th>Attended</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in user.tournaments" ng-click="openDetails(x)" style="cursor: pointer">
								<td>{{x.name}}</td>
								<td>{{x.ort}}</td>
								<td>{{x.startdate | date:'dd.MM.yyyy'}}<br>{{x.enddate | date:'dd.MM.yyyy'}}</td>
								<td>{{x.pivot_role}}</td>
								<td>{{x.pivot_teamname}}</td>
								<td>{{x.pivot_price_owed}}€</td>
								<td>{{x.pivot_price_paid}}€</td>
								<td ng-show="(x.pivot_price_paid - x.pivot_price_owed) < 0" style="color: #ff3533">{{x.pivot_price_paid - x.pivot_price_owed}}€</td>
								<td ng-hide="(x.pivot_price_paid - x.pivot_price_owed) < 0">{{x.pivot_price_paid - x.pivot_price_owed}}€</td>
								<td ng-hide="x.pivot_attended == 1" class="text-center"><span class="glyphicon glyphicon-remove"></span></td>
								<td ng-show="x.pivot_attended == 1" class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
								<td ng-hide="x.pivot_attended == 1">
									<button class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-trash"> </span>
										Delete
									</button>
								</td>
							</tr>
							<tr style="border-top: solid 2px black;">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td ng-show="debt < 0" style="color: #ff3533">{{debt}}€</td>
								<td ng-hide="debt < 0">{{debt}}€</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>