<nav>
    <div>
        <h3 class="text-center"><span class="fa fa-comments"></span> {{tournament.name}}</h3>
        <span flex></span>
    </div>
</nav>

<div class="col-sm-10 col-sm-offset-1">
    <div class="user-info-table">

        <table class="table table-hover">
            <tr>
                <th>id:</th>
                <td>{{tournament.id}}</td>
            </tr>
            <tr>
                <th>name:</th>
                <td>{{tournament.name}}</td>
            </tr>
            <tr>
                <th>place:</th>
                <td>{{tournament.ort}}</td>
            </tr>
            <tr>
                <th>time:</th>
                <td>{{tournament.startdate | date:'dd.MM.yyyy'}}<br>{{tournament.enddate | date:'dd.MM.yyyy'}}</td>
            </tr>
            <tr>
                <th>price:</th>
                <td>Speaker: {{tournament.speakerprice}} €<br>Judge: {{tournament.judgeprice}} €</td>
            </tr>
            <tr>
                <th>language:</th>
                <td>{{tournament.language}}</td>
            </tr>
            <tr>
                <th>accommodation:</th>
                <td>{{tournament.accommodation}}</td>
            </tr>
            <tr>
                <th>format:</th>
                <td>{{tournament.format}}</td>
            </tr>
            <tr>
                <th>league:</th>
                <td>{{tournament.league}}</td>
            </tr>
            <tr ng-show="tournament.link.length > 0">
                <th>link:</th>
                <td>{{tournament.link}}</td>
            </tr>
            <tr ng-show="tournament.comments.length > 0">
                <th>comments:</th>
                <td>{{tournament.comments}}</td>
            </tr>
            <tr>
                <th>role:</th>
                <td>{{tournament.pivot_role}}</td>
            </tr>
            <tr ng-show="tournament.pivot_role == 'speaker'">
                <th>teamname:</th>
                <td>{{tournament.pivot_teamname}}</td>
            </tr>
            <tr ng-show="tournament.pivot_comment.length > 0">
                <th>reg comment:</th>
                <td>{{tournament.pivot_comment}}</td>
            </tr>
        </table>
    </div>
</div>

<div ng-hide="x.pivot_attended == 1">
    <!--<button class="btn btn-info btn-sm" style="margin: 10px">-->
        <!--<span class="glyphicon glyphicon-pencil"> </span>-->
        <!--Change Reg-->
    <!--</button>-->
    <button class="btn btn-danger btn-sm" style="margin: 10px" ng-click="unreg()">
        <span class="glyphicon glyphicon-trash"></span>
        Delete Reg
    </button>
</div>

<div class="ngdialog-buttons">
    <button class="btn btn-raised btn-danger pull-right" ng-click="close()">Close</button>
</div>