<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="image-cropper">
					<a href="#/imageUpload">
						<img class="img-hor" src="http://root.debating.de/members_area/userpics/{{user.image}}"
							 onerror="this.src='images/bdu_quad.png'"/>
						<p>Add your<br>profile picture</p>
					</a>
				</div>
				<div class="intro-text">
					<span>
						<p class="name"> Hello {{user.vorname}}</p>
					</span>
					<hr class="star-light">
					<span class="skills">Here you find your User Info, Tournaments and Finances</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- User Info Section -->
<section class="user-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>User Info</h2>
				<hr class="star-user">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="user-info-table" data-ng-hide="change">

					<table class="table table-responsive">
						<tr>
							<th>id:</th>
							<td>{{user.id}}</td>
						</tr>
						<tr>
							<th>email:</th>
							<td data-ng-hide="update">{{user.email}}</td>
							<td data-ng-show="update"><input class="form-control" name="email" data-ng-model="user.email" required="true"></td>
						</tr>
						<tr>
							<th>vorname:</th>
							<td data-ng-hide="update">{{user.vorname}}</td>
							<td data-ng-show="update"><input class="form-control" name="vorname" data-ng-model="user.vorname"></td>
						</tr>
						<tr>
							<th>name:</th>
							<td data-ng-hide="update">{{user.name}}</td>
							<td data-ng-show="update"><input class="form-control" name="name" data-ng-model="user.name"></td>
						</tr>
						<tr>
							<th>gender:</th>
							<td data-ng-hide="update">{{user.gender}}</td>
							<td data-ng-show="update">
								<select class="form-control" data-ng-model="user.gender">
									<option value=""></option>
									<option value="f">female</option>
									<option value="m">male</option>
									<option value="-">non-binary</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>food preference:</th>
							<td data-ng-hide="update">{{user.food}}</td>
							<td data-ng-show="update"><input class="form-control" name="food" data-ng-model="user.food"></td>
						</tr>
					</table>

					<div data-ng-hide="update">
						<button data-ng-click="update = !update;" class="btn btn-outline-primary pull-left" role="button">Update Info</button>
					</div>
					<div data-ng-show="update">
						<button data-ng-click="update = false" class="btn btn-outline-danger" role="button">Cancel</button>
						<button data-ng-click="updateUser()" class="btn btn-outline-primary" role="button">Submit</button>
						<button data-ng-click="change = !change;" class="btn btn-outline-secondary btn-sm pull-right" role="button">Change<br>password</button>
					</div>

				</div>
				<div data-ng-show="change">
					<div class="col-md-12">
						<div class="form-group">
							<label>Your old password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock"></i></span>
								<input type="password" data-ng-model="oldPassword" placeholder="Enter old password" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<form data-ng-submit="changePwd()">
							<div class="form-group">
								<label>Your new password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" data-ng-model="newPassword" data-ng-change="checkMatch()" placeholder="Enter new password" class="form-control" required>
								</div>
							</div>
							<div class="form-group">
								<label>Confirm new password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" data-ng-model="confirmPassword" data-ng-change="checkMatch()" placeholder="Confirm new password" class="form-control" required>
								</div>
								<p data-ng-show="!match" class="alert alert-danger">Passwords don't match</p>
							</div>

							<button data-ng-click="change = !change; update = false" class="btn btn-outline-danger">Cancel</button>
							<button type="submit" class="btn btn-outline-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- My Tournaments Section -->
<section id="tournament-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Your Tournaments</h2>
				<hr class="star-comments">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div>

					<table class="table table-hover table-responsive">
						<thead>
						<tr>
							<th>Name</th>
							<th>Dates</th>
							<th>Role</th>
							<th>Independent</th>
							<th>Team Name</th>
							<th>Comment</th>
							<th>Funding</th>
							<th>Price</th>
							<th>Paid</th>
							<th>Debt</th>
							<th>Attended</th>
							<th>Success</th>
							<th>Points</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-repeat="tournament in user.tournaments" data-ng-include="getTemplate(tournament)" class="pointer"></tr>
						<tr style="border-top: solid 2px black; font-weight: bold">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="currencySign" data-monetary-amount="{{debt | currency:'€'}}"></td>
							<td></td>
							<td></td>
							<td>{{totalPoints}}</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<!--TEMPLATE FOR NORMAL VIEW-->
<script type="text/ng-template" id="display">
	<td data-ng-click="openDetails(tournament)" style="text-align: left">{{tournament.name}}</td>
	<td data-ng-click="openDetails(tournament)">
		{{tournament.startdate | date:'dd.MM.yyyy'}}
		<br>
		{{tournament.enddate | date:'dd.MM.yyyy'}}
	</td>
	<td data-ng-click="openDetails(tournament)">{{tournament.pivot_role}}</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_is_independent == 1" class="text-center">
		<i class="fa fa-check" aria-hidden="true"></i>
	</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_is_independent == 0" class="text-center">
		<i class="fa fa-times" aria-hidden="true"></i>
	</td>
	<td data-ng-click="openDetails(tournament)">{{tournament.pivot_teamname}}</td>
	<td data-ng-click="openDetails(tournament)">{{tournament.pivot_comment}}</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_funding == 0" class="text-center">
		<i class="fa fa-times" aria-hidden="true"></i>
	</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_funding == 1" class="text-center">
		<i class="fa fa-check" aria-hidden="true"></i>
	</td>
	<td class="preventWrap" data-ng-click="openDetails(tournament)">{{tournament.pivot_price_owed | currency:"€"}}</td>
	<td class="preventWrap" data-ng-click="openDetails(tournament)">{{tournament.pivot_price_paid | currency:"€"}}</td>
	<td class="currencySign"
		data-monetary-amount="{{tournament.pivot_price_paid - tournament.pivot_price_owed | currency:'€'}}"></td>
	<td data-ng-click="openDetails(tournament)" class="text-center">
		<p>{{attendanceStatus(tournament.pivot_attended)}}</p>
	</td>
	<td data-ng-controller="successCtrl" data-ng-include="getSuccessTemplate(tournament.id)"></td>
	<td class="text-center">
		{{tournament.pivot_points}}
	</td>
	<td class="text-center">
		<button data-ng-hide="tournament.pivot_attended == 1" data-ng-click="editContact(tournament)"
				class="btn btn-sm btn-outline-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
		<button data-ng-hide="tournament.pivot_attended == 1" data-ng-click="unreg(tournament.pivot_id, tournament.id)"
				class="btn btn-sm btn-outline-danger" style="margin-top: 4px">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</button>
	</td>
</script>
{{selected.pivot_is_independent}}
<!--TEMPLATE FOR INLINE EDIT VIEW-->
<script type="text/ng-template" id="edit">
	<td style="text-align: left">{{tournament.name}}</td>
	<td>{{tournament.startdate | date:'dd.MM.yyyy'}}<br>{{tournament.enddate | date:'dd.MM.yyyy'}}</td>
	<td>
		<select class="form-control" data-ng-options="role as role.label for role in roles track by role.id" data-ng-model="selected.pivot_role">
		</select>
	</td>
	<td>
		<label for="is_independent_checkbox" class="hidden"></label>
		<input id="is_independent_checkbox" class="form-control" type="checkbox" data-ng-model="selected.pivot_is_independent" />
	</td>
	<td data-ng-show="selected.pivot_role.value == 'speaker'">
		<input style="min-width: 180px" class="form-control" type="text" data-ng-model="selected.pivot_teamname" />
	</td>
	<td data-ng-hide="selected.pivot_role.value == 'speaker'">
		<input style="min-width: 80px" disabled class="form-control" type="text" />
	</td>
	<td>
		<textarea style="min-width: 180px" rows="3" placeholder="You can leave a comment here."
				  data-ng-model="selected.pivot_comment" class="form-control"></textarea>
	</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_funding == 0" class="text-center">
		<i class="fa fa-times" aria-hidden="true"></i>
	</td>
	<td data-ng-click="openDetails(tournament)" data-ng-show="tournament.pivot_funding == 1" class="text-center">
		<i class="fa fa-check" aria-hidden="true"></i>
	</td>
	<!--Funding beantragen derzeit nicht moeglich als User -> kann nur Vorstand machen-->
	<!--<td>-->
		<!--<input type="checkbox" class="form-check"-->
			   <!--ng-model="selected.pivot_funding" data-ng-checked="selected.pivot_funding == 1">-->
	<!--</td>-->
	<td class="preventWrap">{{tournament.pivot_price_owed | currency:"€"}}</td>
	<td class="preventWrap">{{tournament.pivot_price_paid | currency:"€"}}</td>
	<td class="currencySign" data-monetary-amount="{{tournament.pivot_price_paid - tournament.pivot_price_owed | currency:'€'}}"></td>
	<td data-ng-click="openDetails(tournament)" class="text-center">
		<p>{{attendanceStatus(tournament.pivot_attended)}}</p>
	</td>
	<td></td>
	<td></td>
	<td>
		<button class="btn btn-sm btn-outline-success" data-ng-click="saveReg($index, tournament.pivot_id)" style="margin: 3px">Save</button>
		<button class="btn btn-sm btn-outline-danger" data-ng-click="reset()" style="margin: 3px">Cancel</button>
	</td>
</script>

