<nav>
	<div>
		<h3><span class="fa fa-comments"></span> Anmeldung</h3>
		<span flex></span>
	</div>
</nav>

<div class="ngdialog-message">
	<div class="row" ng-show="istVorstand">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>I wanna register</b></label>
				<select class="form-control" ng-options="user as (user.vorname + ' ' + user.name) for user in usersToRegister track by user.id" ng-model="personToRegister"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>I wanna go as</b></label>
				<select name="role" class="form-control" ng-options="role as role.label for role in roles track by role.id" ng-model="selected" ng-change="setRole()"></select>
			</div>
		</div>
	</div>
	<div class="row" ng-show="isSpeaker">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>Teampartner</b></label><br><p>Don't have a team partner yet? No problem.</p>
				<select class="form-control" ng-options="user as (user.vorname + ' ' + user.name) for user in partnersToRegister track by user.id" ng-model="teamPartner"></select>
			</div>
		</div>
		<div ng-show="teamPartner.id>0" class="col-md-12">
			<div class="form-group">
				<label><b>Teamname</b></label><br><p>Do you have a fancy name for your team?</p>
				<input type="text" ng-model="team" class="form-control" name="team" list="teamnames">
				<datalist id="teamnames">
					<option ng-repeat="u in tournament.users" value="{{u.pivot_teamname}}"></option>
				</datalist>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>Comment</b></label>
				<textarea rows="3" placeholder="Leave a comment if you feel like it." ng-model="comment" class="form-control"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="ngdialog-buttons">
	<!--HIDE Funding button for now-->
	<div class="checkbox help-tip tournaments-dialog-checkbox" style="visibility: hidden">
		<label><input ng-model="funding" type="checkbox" value=""> I want to receive <b>funding</b> for this tournament.</label>
		<!--TODO Fill with funding criteria-->
		<p>The funding criteria will be updated and published on 1 September 2017</p>
	</div>

	<button class="btn btn-outline-success pull-right" ng-click="reg()">Register</button>
</div>
