<nav>
	<div>
		<h3><span class="fa fa-comments"></span> Anmeldung</h3>
		<span flex></span>
	</div>
</nav>

<div class="ngdialog-message">
	<div class="row" ng-show="istVorstand">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>I wanna register</b></label>
				<select class="form-control" ng-options="user as (user.vorname + ' ' + user.name) for user in usersToRegister track by user.id" ng-model="personToRegister"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>I wanna go as</b></label>
				<select name="role" class="form-control" ng-options="role as role.label for role in roles track by role.id" ng-model="selected" ng-change="setRole()"></select>
			</div>
		</div>
	</div>
	<div class="row" ng-show="isSpeaker">
		<!--optional 1. team partner-->
		<div class="col-md-12">
			<div class="form-group">
				<label><b>Teammate</b></label><br><p>Don't have a team partner yet? No problem.</p>
				<select class="form-control"
						ng-options="user as (user.vorname + ' ' + user.name) for user in partnersToRegister track by user.id"
						ng-model="firstTeamPartner">
				</select>
			</div>
		</div>
		<!--optional 2. team partner-->
		<div class="col-md-12"
			 ng-hide="
			 tournament.format.toLowerCase() == 'bps' ||
			 tournament.format.toLowerCase() == 'bp' ||
			 firstTeamPartner.id < 0"
		>
			<div class="form-group">
				<label><b>2. Teammate</b></label><br><p>For OPD competitions.</p>
				<select class="form-control"
						ng-options="user as (user.vorname + ' ' + user.name) for user in partnersToRegister track by user.id"
						ng-model="secondTeamPartner">
				</select>
			</div>
		</div>
		<div ng-show="firstTeamPartner.id > 0" class="col-md-12">
			<div class="form-group">
				<label><b>Teamname</b></label><br><p>Do you have a fancy name for your team?</p>
				<input type="text" ng-model="team" class="form-control" name="team" list="teamnames">
				<datalist id="teamnames">
					<option ng-repeat="u in tournament.users" value="{{u.pivot_teamname}}"></option>
				</datalist>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 pretty-checkbox">
			<p><b>Independent?</b></p>
			<div class="form-check">
				<input data-ng-model="is_independent" class="form-check-input" type="radio"
					   id="independentRadioYes" data-ng-change="independentChangeEvent()" value="1">
				<label class="form-check-label" for="independentRadioYes">
					Yes, the BDU does NOT pay for my spot.
				</label>
			</div>
			<div class="form-check">
				<input data-ng-model="is_independent" class="form-check-input" type="radio"
					   id="independentRadioNo" data-ng-change="independentChangeEvent()" value="0">
				<label class="form-check-label" for="independentRadioNo">
					No, the BDU pays for my spot in advance.
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label><b>Comment</b></label>
				<textarea rows="3" placeholder="Leave a comment if you feel like it." ng-model="comment" class="form-control"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="row ngdialog-buttons reg-form">
	<div class="col-6">
		<button class="btn btn-outline-success pull-right" ng-click="reg()">Register</button>
	</div>
</div>
