<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name"><i class="fa fa-bolt" aria-hidden="true"></i> Create Tournament</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- SHOWN ONLY TO PEOPLE WITHOUT PROPPER RIGHTS -->
<section id="user-info" ng-hide="istVorstand">
	<div class="container">
		<div class="row">
			<!-- Table -->
			<div class="col-sm-8 col-sm-offset-2">
				<div class="user-info-table">

					<h3>
						Sorry you don't have the right to see this.
					</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="user-info" ng-show='istVorstand'>

	<!-- NEW TOURNAMENT -->
	<div class="container">
		<div class="clearfix">

			<h3><span class="fa fa-comments"></span> Neues Turnier</h3>

			<form ng-submit="submit()">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label>Name</label>
							<input type="text" name="name" class="form-control" ng-model="newTournament.name" required="true">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">						
							<div class="form-group">
								<label>Ort</label>
								<input type="text" name="ort" class="form-control" ng-model="newTournament.ort">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">						
							<div class="form-group">
								<label>Unterkunft</label>
								<input type="text" name="accommodation" class="form-control" ng-model="newTournament.accommodation">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label>Startdatum</label>
							<input type="date" name="startdate" class="form-control" ng-model="newTournament.startdate" required />
						</div>
					</div>
					<div class="col-sm-4">						
						<div class="form-group">
							<label>Enddatum</label>
							<input type="date" name="enddate" class="form-control" ng-model="newTournament.enddate" required />
						</div>
					</div>
					<div class="col-sm-4">	
						<div class="form-group">
							<label>Deadline zur Anmeldung</label>
							<input type="date" name="deadline" class="form-control" ng-model="newTournament.deadline" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label>Format</label>
							<input type="text" name="format" class="form-control" ng-model="newTournament.format">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label>Liga</label>
							<input type="text" name="league" class="form-control" ng-model="newTournament.league">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label for="language">Sprache</label>
							<select id="language" class="form-control" ng-model="newTournament.language">
								<option value=""></option>
								<option value="de">deutsch</option>
								<option value="en">englisch</option>
								<option value="other">other</option>
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="">
							<label>Wert im BDU Ranking</label>
							<select class="form-control" ng-model="newTournament.rankingvalue">
								<option value=""></option>
								<option value="2">2 - Einstiegsturnier</option>
								<option value="3">3 - DDL Turniere (DDL-Mindestgröße = <12 Teams)</option>
								<option value="4">4 - DDL Turniere (>DDL-Mindestgröße = <12 Teams)</option>
								<option value="5">5 - Regionalmeisterschaften</option>
								<option value="6">6 - ZEIT DEBATTEN; Nat. eng. IV´s & Opens ESL; Masters Cup</option>
								<option value="7">7 - Nat. eng. IV´s & Opens open break/Int. IV´s & Opens ESL; Einladungsturnier</option>
								<option value="8">8 - Int. IV´s & Opens open break</option>
								<option value="9">9 - DDM; Euros ESL</option>
								<option value="10">10 - Worlds ESL</option>
								<option value="11">11 - Oxford; Cambridge IV open break</option>
								<option value="12">12 - Euros; Worlds Open-Break</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label>Preis Speaker</label>
							<input type="number" step="0.01" name="speakerprice" class="form-control" ng-model="newTournament.speakerprice">
						</div>
					</div>
					<div class="col-sm-3">						
						<div class="form-group">
							<label>Preis Judge</label>
							<input type="number" step="0.01" name="judgeprice" class="form-control" ng-model="newTournament.judgeprice">
						</div>
					</div>
					<div class="col-sm-3">						
						<div class="form-group">
							<label>Teamspots</label>
							<input type="number" name="teamspots" class="form-control" ng-model="newTournament.teamspots">
						</div>
					</div>
					<div class="col-sm-3">						
						<div class="form-group">
							<label>Judgespots</label>
							<input type="number" name="judgespots" class="form-control" ng-model="newTournament.judgespots">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label>Link</label>
							<input type="text" name="link" class="form-control" ng-model="newTournament.link">
						</div>
					</div>
					<div class="col-sm-8">						
						<div class="form-group">
							<label>Comments</label>
							<input type="text" name="comments" class="form-control" ng-model="newTournament.comments">
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-lg btn-outline-success pull-right">Turnier erstellen</button>
			</form>

		</div>
	</div>

</section>
