@import '../../css/breakpoints.scss';

.dropdown-item {
  font-size: 1.1rem;
}
.text-white.dropdown-item:hover {
  background-color: #1c1f2396;
}
@include media-breakpoint-up(lg) {
  #profileDropdown {
    margin-left: auto;
  }
}
.navbar-nav {
  align-items: center;
}
