@import './custom-variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/reboot';

@import "./grid-utilities";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cursorPointer {
  cursor: pointer;
}

.page-content {
  padding: 3rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}
