@import '../../../../css/breakpoints.scss';

.collapseTournamentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.collapseUserContainer {
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-up(md) {
  .collapseTournamentContainer {
    margin-bottom: 0;
  }

  .collapseUserContainer {
    margin-left: 3rem;
  }

  .tournamentsProfileImage {
    margin-right: auto;
  }
}

@include media-breakpoint-up(lg) {
  .collapseTournamentContainer {
    width: 25%;
  }

  .collapseUserContainer {
    width: 75%;
  }
}

.tournamentsProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
}

.registerButton {
  min-width: 60%;
}
